# bot
BOT_TOKEN=bot:token
WH_URL=example.com

GROUP_ID=-12345678910
MANAGER_GROUP_ID=-12345678910
OPS_ID=12345678910

# traefik
TRAEFIK_LOG_LEVEL=DEBUG
CLOUDFLARE_API_KEY=key 

# cloudflare tunnel token
CLOUDFLARE_TOKEN=token


# DB
POSTGRES_USER=dbadmin
POSTGRES_PASSWORD=dbadmin
POSTGRES_DB=db
POSTGRES_PORT=5432

POSTGRES_URL="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:${POSTGRES_PORT}/${POSTGRES_DB}?sslmode=disable"
